span{
    font-weight: bold;
    background: orangered;
    padding: 0.3em 0.8em;
    cursor: pointer;
    border-radius: 20px;
}

.play-container{
    padding: 3em;
    border: 1px solid lightgrey;
    margin-bottom: 1rem;
}
input{
    padding: 1em;
    margin-bottom: 2em;
}